WinOpenInstaller/Software
Tools/

Trash/
History/
Tools/PortableGit/
Tools/MinGW/
Tools/Vim/
Tools/Notepad++/
Tools/cscope/
Tools/VideoLAN/
Tools/Ditto/
Tools/MinGW.hidden_1/
Tools/MinGW.hidden_2/
Tools/MinGW_hedde-n_orign/
Tools/GnuWin32.zip


Data/Date_last_opened.txt
Data/Date_last_opened_admin.txt

Release/CMDEXsetup_prev.exe
Release/CMDEXfolder_prev.zip
Release/VersionIdUpdated.txt

Resources/CMDEX_logo_vers_2_v5as.ico
Tools/MinGW_1.zip
Tools/Vim.zip.1
Uninstall.exe


/Interfaces/Temp

Data/Drafts.txt

Temp/
Wall/

Mirror/




Automation/%NAME_TEMPL%.txt
Automation/%NAME_TEMPL%bat.txt
Automation/CMDEX_List_Recurcive_bat.txt
Automation/CMDEX_List_Recurcive_bat_diff.cxdat
Automation/CMDEX_List_Recurcive_bat_diff_prev.cxdat
Automation/CMDEX_List_Recurcive_bat_prev.txt
Automation/CMDEX_List_Recurcive_exe.txt
Automation/CMDEX_List_Recurcive_exe_prev.txt
Automation/CMDEX_List_Recurcive_html.txt
Automation/CMDEX_List_Recurcive_html_prev.txt
Automation/CMDEX_List_Recurcive_txt.txt
Automation/CMDEX_List_Recurcive_txt_prev.txt
Automation/CMDEX_List_Recurcive_xml.txt
Automation/CMDEX_List_Recurcive_xml_prev.txt
Automation/CMDEX_List_Recurcive_zip.txt
Automation/CMDEX_List_Recurcive_zip_prev.txt
Automation/CMDEX_List_Recursive_all.txt
Automation/CMDEX_List_Recursive_bat.txt
Automation/CMDEX_List_Recursive_exe.txt
Automation/CMDEX_List_Recursive_html.txt
Automation/CMDEX_List_Recursive_txt.txt
Automation/CMDEX_List_Recursive_xml.txt
Automation/CMDEX_List_Recursive_zip.txt
Automation/check_batch_scripts.bat
Automation/cmdex_run_automation.bat
Automation/test_file_for_automation.txt
Automation/test_for_automation.bat

TestCases/CMDEX_Executed_Commands.txt
TestCases/doit.bat
TestCases/indexate.bat

POFC/

Installer/NSIS/Scripts/CMDEXsetup.exe
