[submodule "WinOpenInstaller"]	path = WinOpenInstaller	url = https://github.com/rgladkyi/WinOpenInstaller.git
[submodule "Autogenerate"]
	path = Autogenerate
	url = https://github.com/rgladkyi/Autogenerate.git
